.App {
  text-align: center;
  background-image: url("free-vector-blue-grunge-background.jpg");
}

.App-header {
  background-image: url("free-vector-blue-grunge-background.jpg");
  background-color: #E7FEFE;
  min-height: 25vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

h1 {
  text-align: center;
  color: #373636;
}
